.App {
  text-align: center;
}

.navigation a {
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.friend {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 15px;
  width: 250px;
  height: 150px;
}

.friendform {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 15px;
  height: 175px;
  width: 300px;
}

.friendformdiv {
  display: flex;
  justify-content: center;
}

.allfriends {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 2.5rem;
}

.App-header {
  background-color: #104abed5;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
